

<!-- .hero -->
<section class="hero">
  <div class="opacity-image">

  {{!-- nav bar --}}

<nav class="navbar is-paddingless" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="/images/chef-icon.png" width="40" height="40">
      <h1 class="title-logo">
        {{title}}
      </h1>
    </a>

{{!--     <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> --}}
  </div>


  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-fourth-color" href="/signup">
          <strong>Sign up</strong>
        </a>

        <a class="button is-light" href="/login">
          Log in
        </a>
      </div>
    </div>
  </div>
 
</nav>


  <div class="hero-body">
    <div class="container-fluid">

      <div class="box subtitle">
        Meal prep for
        <ul class="swap">
          <li>food lovers</li>
          <li>sportsmans</li>
          <li>vegans</li>
          <li>families</li>
          <li>healthy people</li>
        </ul>
        .
      </div>
    </div>
  </div>
  </div>
</section>
<!-- /.hero -->


<!-- .section -->
<section class="section has-background-light">
  <div class="container">
    <div class="columns scrolling-wrapper-flexbox">
      <div class="column is-one-third card">
        <article class="media notification is-primary-color">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fab fa-2x fa-css3-alt"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Healthy recipe</h1>
              <p class="is-size-5">
                Bulma is a modern CSS framework from @jgthms, based on Flexbox.
                Using Bulma, we can describe our website's design using just classes. <span class="emoticon">ᕕ( ᐛ )ᕗ</span>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third card">
        <article class="media notification is-third-color">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fas fa-2x fa-align-justify"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Energy recipe</h1>
              <p class="is-size-5">
                Flexbox is a CSS spec that makes sectioning and aligning more natural.
                We don't need to know Flexbox but it's how Bulma works behind-the-scenes. <span class="emoticon">⦤(^ー^)⦥</span>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third card">
        <article class="media notification is-fifth-color">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fas fa-2x fa-shield-alt"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Vegan recipe</h1>
              <p class="is-size-5">
                Instead of writing our CSS per-element, we can use predefined classes.
                With enough classes, we can describe our website design using semantics. <span class="emoticon">٩(^ᴗ^)۶</span>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third card">
        <article class="media notification is-fourth-color">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fab fa-2x fa-css3-alt"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Indian</h1>
              <p class="is-size-5">
                Bulma is a modern CSS framework from @jgthms, based on Flexbox.
                Using Bulma, we can describe our website's design using just classes. <span class="emoticon">ᕕ( ᐛ )ᕗ</span>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third card">
        <article class="media notification is-primary-color">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fas fa-2x fa-align-justify"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Quick recipe</h1>
              <p class="is-size-5">
                Flexbox is a CSS spec that makes sectioning and aligning more natural.
                We don't need to know Flexbox but it's how Bulma works behind-the-scenes. <span class="emoticon">⦤(^ー^)⦥</span>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third card">
        <article class="media notification is-fifth-color">
          <figure class="media-left">
            <span class="icon is-medium">
              <i class="fas fa-2x fa-shield-alt"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Carot recipe</h1>
              <p class="is-size-5">
                Instead of writing our CSS per-element, we can use predefined classes.
                With enough classes, we can describe our website design using semantics. <span class="emoticon">٩(^ᴗ^)۶</span>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /.section -->



{{!-- How it works --}}

<section class="section how-to-section">
  <div class="container content">
    <h2>
      How it works
    </h2>
  </div>

  <div class="container content how-to-item is-medium">
    <ol>
      <li>Sign up and set your preferences</li>
      <li>Choose your meals for the week</li>
      <li>Order and get deliver ingredients</li>
      <li>Cook with our step by step guide</li>
    </ol>
  </div>

</section>


<section>
  <h2 class="social-wall-headline">Get ready to join the yummy <strong>#mealprep</strong> community</h2>
  <div class="social-media-wall"  data-cfg-wallid=32256></div><script async src="https://static.socialmediawall.io/w/init-wall.js"></script>
</section>

{{!-- Link to recipes --}}

{{!-- <section class="section">
  <div class="container">
    <h2>
      <a href="/meals">visit your meals page</a>
    </h2>
  </div>
</section> --}}


<footer class="footer is-fifth-color container-fluid is-marginless">
  <div class="columns  content ">

    <div class="column is-two-third">
      <p>
        By chefette
      </p>
    </div>
    <div class="column is-one-third">
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div>

  </div>

</footer>