<!-- .hero -->
<section class="hero">
  <div class="opacity-image">

    {{!-- nav bar --}}

    <nav class="navbar is-paddingless" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="/images/chef-icon.png" width="40" height="40">
          <h1 class="title-logo">
            {{title}}
          </h1>
        </a>

        {{!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a> --}}
      </div>


      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-fourth-color" href="/signup">
              <strong>Sign up</strong>
            </a>

            <a class="button is-light" id="id01" href="/login">
              Log in
            </a>
          </div>
        </div>
      </div>

    </nav>


    <div class="hero-body">
      <div class="container-fluid">

        <div class="box subtitle">
          Meal prep for
          <ul class="swap">
            <li>food lovers</li>
            <li>sportsmans</li>
            <li>vegans</li>
            <li>families</li>
            <li>healthy people</li>
          </ul>
          .
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.hero -->


<!-- .section -->
<section class="section has-background-light">
  <div class="container">
    <div class="columns scrolling-wrapper-flexbox">
      <div class="column is-one-quarter card box is-paddingless box-recette is-fullheight">
        <article class="media notification  fiche-recette">
          <div class="media-content">
            <div class="content">
              <figure class="image">
                <img src="https://images.media-allrecipes.com/userphotos/720x405/2280918.jpg">
              </figure>

              <div class="fiche-recette-text">
                <h1 class="title is-size-5">Orange and Milk-Braised Pork Carnitas</h1>
                <p class="is-size-6">
                  <i class="fas fa-globe-americas"></i> American <i class="fas fa-stopwatch"></i> 160'
                </p>
                <div class="buttons-recipe columns">
                  <form method="get" action="/signup">
                    <button type="submit" class="button is-fourth-color">Cook it!</button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </article>
      </div>


      <div class="column is-one-quarter card box is-paddingless box-recette">
        <article class="media notification  fiche-recette">
          <div class="media-content">
            <div class="content">
              <figure class="image">
                <img src="https://images.media-allrecipes.com/userphotos/720x405/815964.jpg">
              </figure>

              <div class="fiche-recette-text">
                <h1 class="title is-size-5">Chocolate Chip Cookies</h1>
                <p class="is-size-6">
                  <i class="fas fa-globe-americas"></i> French <i class="fas fa-stopwatch"></i> 30'
                </p>
                <div class="buttons-recipe columns">
                  <form method="get" action="/signup">
                    <button type="submit" class="button is-fourth-color">Cook it!</button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </article>
      </div>

      <div class="column is-one-quarter card box is-paddingless box-recette">
        <article class="media notification  fiche-recette">
          <div class="media-content">
            <div class="content">
              <figure class="image">
                <img src="https://images.media-allrecipes.com/userphotos/720x405/3489951.jpg">
              </figure>

              <div class="fiche-recette-text">
                <h1 class="title is-size-5">Rigatoni alla Genovese</h1>
                <p class="is-size-6">
                  <i class="fas fa-globe-americas"></i> Italian <i class="fas fa-stopwatch"></i> 220'
                </p>
                <div class="buttons-recipe columns">
                  <form method="get" action="/signup">
                    <button type="submit" class="button is-fourth-color">Cook it!</button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </article>
      </div>

      <div class="column is-one-quarter card box is-paddingless box-recette">
        <article class="media notification  fiche-recette">
          <div class="media-content">
            <div class="content">
              <figure class="image">
                <img src="https://images.media-allrecipes.com/userphotos/720x405/3605684.jpg">
              </figure>

              <div class="fiche-recette-text">
                <h1 class="title is-size-5">Carot cake</h1>
                <p class="is-size-6">
                  <i class="fas fa-globe-americas"></i> International <i class="fas fa-stopwatch"></i> 130'
                </p>
                <div class="buttons-recipe columns">
                  <form method="get" action="/signup">
                    <button type="submit" class="button is-fourth-color">Cook it!</button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </article>
      </div>

      <div class="column is-one-quarter card box is-paddingless box-recette">
        <article class="media notification  fiche-recette">
          <div class="media-content">
            <div class="content">
              <figure class="image">
                <img src="https://images.media-allrecipes.com/userphotos/720x405/815964.jpg">
              </figure>

              <div class="fiche-recette-text">
                <h1 class="title is-size-5">Asian Glazed Chicken Thighs</h1>
                <p class="is-size-6">
                  <i class="fas fa-globe-americas"></i> Asian <i class="fas fa-stopwatch"></i> 40'
                </p>
                <div class="buttons-recipe columns">
                  <form method="get" action="/signup">
                    <button type="submit" class="button is-fourth-color">Cook it!</button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </article>
      </div>

      <div class="column is-one-quarter card box is-paddingless box-recette">
        <article class="media notification  fiche-recette">
          <div class="media-content">
            <div class="content">
              <figure class="image">
                <img src="https://images.media-allrecipes.com/userphotos/720x405/2280918.jpg">
              </figure>

              <div class="fiche-recette-text">
                <h1 class="title is-size-5">Orange and Milk-Braised Pork Carnitas</h1>
                <p class="is-size-6">
                  <i class="fas fa-globe-americas"></i> American <i class="fas fa-stopwatch"></i> 160'
                </p>
                <div class="buttons-recipe columns">
                  <form method="get" action="/signup">
                    <button type="submit" class="button is-fourth-color">Cook it!</button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </article>
      </div>

    </div>
  </div>
</section>
<!-- /.section -->



{{!-- How it works --}}

<section class="section how-to-section">
  <div class="container content">
    <h2>
      How it works
    </h2>
  </div>

  <div class="container content how-to-item is-medium">
    <ol>
      <li>Sign up and set your preferences</li>
      <li>Choose your meals for the week</li>
      <li>Order and get deliver ingredients</li>
      <li>Cook with our step by step guide</li>
    </ol>
  </div>

</section>


<section>
  <h2 class="social-wall-headline">Get ready to join the yummy <strong class="fancy-text">#mealprep</strong> community</h2>
  <div class="social-media-wall" data-cfg-wallid=32256></div>
  <script async src="https://static.socialmediawall.io/w/init-wall.js"></script>
</section>

{{!-- Link to recipes --}}

{{!-- <section class="section">
  <div class="container">
    <h2>
      <a href="/meals">visit your meals page</a>
    </h2>
  </div>
</section> --}}


<footer class="footer is-fifth-color container-fluid is-marginless">
  <div class="columns  content ">

    <div class="column is-two-third">
      <p>
        By chefette
      </p>
    </div>
    <div class="column is-one-third">
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </div>

  </div>

</footer>